<h2 class="content-block">Relatorios</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="row" style="align-items: center; justify-content: flex-start">
            <dx-select-box (onValueChanged)="atualizaRelatorio($event)"
                           [dataSource]="relatorios"
                           class="mr"
                           displayExpr="opcao"
                           valueExpr="relatorio"
                           width="500px">
            </dx-select-box>
            <dx-button (onClick)="gerar()"
                       class="ml"
                       icon="fa-regular fa-file-pdf"
                       text="Gerar">
            </dx-button>
        </div>


        <div *ngIf="nomeRelatorio === 'reservasPeriodo'" class="mb mt">
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Inicial: </span>
                <dx-date-box [(value)]="dataInicial!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Final: </span>
                <dx-date-box [(value)]="dataFinal!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
        </div>


        <div *ngIf="nomeRelatorio === 'consumoReserva'" class="mb mt">
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Inicial: </span>
                <dx-date-box [(value)]="dataInicial!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Final: </span>
                <dx-date-box [(value)]="dataFinal!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Reserva: </span>
                <dx-text-box [(value)]="reserva">
                </dx-text-box>
            </div>
        </div>


        <div *ngIf="nomeRelatorio === 'movimentacao'" class="mb mt">
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Inicial: </span>
                <dx-date-box [(value)]="dataInicial!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Data Final: </span>
                <dx-date-box [(value)]="dataFinal!"
                             [max]="hoje"
                             [useMaskBehavior]="true"
                             displayFormat="dd/MM/yyyy"
                             width="300px">
                </dx-date-box>
            </div>
            <div class="row mt mb" style="width: 40%; justify-content: space-between">
                <span>Tipo de Movimento: </span>
                <dx-select-box [dataSource]="tiposMovimento"
                               (onValueChanged)="defineMovimento($event)"
                               displayExpr="displayText"
                               valueExpr="value"
                               width="300px">
                </dx-select-box>
            </div>
        </div>
        <div #relatoriosSendoGerados class="mt">
        </div>
    </div>
</div>
