<h2 class="content-block">Relatorios</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <div class="row" style="align-items: center; justify-content: flex-start">
            <dx-select-box (onValueChanged)="atualizaRelatorio($event)"
                           [dataSource]="relatorios"
                           class="mr"
                           displayExpr="opcao"
                           valueExpr="relatorio">
            </dx-select-box>
            <dx-button (onClick)="gerar()"
                       class="ml"
                       icon="fa-regular fa-file-pdf"
                       text="Gerar">
            </dx-button>
        </div>
        <div #relatoriosSendoGerados class="mt">
        </div>
    </div>
</div>
