<base-crud [mode]="ModeEnum.EDIT"
           [editTitle]="'Configurações'">
    <div list-filter-fields></div>
    <div list-result></div>
    <div edit-template>

        <div class="row">
            <dx-check-box class="mr"
                          text="Usar cancelamento automático de reservas"
                          [(value)]="cancelamentoAutomaticoAtivo">
            </dx-check-box>
            <dx-date-box [(value)]="hora"
                         text="Hora"
                         type="time">
            </dx-date-box>
        </div>
    </div>
</base-crud>
