<base-crud #crud
           [editTitle]="'Consumo'"
           [listTitle]="'Consumo'"
           [mode]="mode"
           [visible]="false">

    <div list-filter-fields>

    </div>

    <div list-result>

        <dx-load-panel [visible]="isLoading">
        </dx-load-panel>

        <ng-container *ngIf="!isLoading">
            <dx-data-grid (onRowDblClick)="novoConsumo()"
                          (onSelectionChanged)="selecionaReserva($event)"
                          [dataSource]="reservasComCheckIn"
                          [rowAlternationEnabled]="true"
                          [showBorders]="true">

                <dxo-selection mode="single"></dxo-selection>

                <dxi-column alignment="center"
                            caption="Reserva"
                            dataField="id">
                </dxi-column>
                <dxi-column alignment="center"
                            caption="Quarto"
                            dataField="quarto.nome">
                </dxi-column>
                <dxi-column alignment="center"
                            caption="Data de Entrada"
                            dataField="dataEntrada"
                            dataType="date"
                            format="dd/MM/yyyy">
                </dxi-column>
                <dxi-column alignment="center"
                            caption="Data Prevista para Saída"
                            dataField="dataPrevistaSaida"
                            dataType="date"
                            format="dd/MM/yyyy">
                </dxi-column>
                <dxi-column alignment="center"
                            caption="Empresa"
                            dataField="empresa.razaoSocial">
                </dxi-column>

                <dxo-master-detail [enabled]="true" template="hospedeDetail"></dxo-master-detail>

                <div *dxTemplate="let data of 'hospedeDetail'">
                    <dx-data-grid [dataSource]="data.data.hospedes"
                                  [rowAlternationEnabled]="true"
                                  [showBorders]="true">

                        <dxi-column alignment="center"
                                    dataField="nome">
                        </dxi-column>
                        <dxi-column alignment="center"
                                    caption="CPF"
                                    cellTemplate="cpfTemplate"
                                    dataField="cpf">
                        </dxi-column>
                        <dxi-column alignment="center"
                                    cellTemplate="telefoneTemplate"
                                    dataField="telefone">
                        </dxi-column>
                        <dxi-column alignment="center"
                                    cellTemplate="celularTemplate"
                                    dataField="celular">
                        </dxi-column>
                        <dxi-column alignment="center"
                                    caption="E-mail"
                                    dataField="email">
                        </dxi-column>
                        <dxi-column alignment="center"
                                    dataField="ativo">
                        </dxi-column>

                        <!--            TEMPLATE        -->

                        <div *dxTemplate="let data of 'cpfTemplate'">
                            {{ Utils.formatarCPF(data.value) }}
                        </div>

                        <div *dxTemplate="let data of 'telefoneTemplate'">
                            {{ Utils.formatarTelefone(data.value) }}
                        </div>

                        <div *dxTemplate="let data of 'celularTemplate'">
                            {{ Utils.formatarCelular(data.value) }}
                        </div>
                    </dx-data-grid>
                </div>
            </dx-data-grid>
            <p>Somente são exibidas reservas que foram dadas Check-In e que não foram canceladas ou dado Check-Out.</p>
        </ng-container>
    </div>

    <div edit-template>

        <dx-load-panel [visible]="isLoading">
        </dx-load-panel>

        <span><strong>Reserva:</strong> {{ reservaSelecionada.id }}</span>
        <br>
        <span *ngFor="let h of reservaSelecionada.hospedes">
            <span><strong>Hospede:</strong> {{ h.nome }}</span><br>
        </span>
        <br>
        <span><strong>Quarto:</strong> {{ reservaSelecionada.quarto.nome }}</span>

        <div class="row" style="justify-content: flex-end">
            <dx-button (onClick)="salvar()"
                       class="mr"
                       icon="fa-solid fa-floppy-disk"
                       text="Salvar">
            </dx-button>
            <dx-button (onClick)="voltar()"
                       icon="fa-solid fa-rotate-left"
                       text="Voltar">
            </dx-button>
        </div>

        <dx-data-grid [dataSource]="produtosNaGrid"
                      [rowAlternationEnabled]="true"
                      [showBorders]="true">

            <dxo-editing
                [allowAdding]="true"
                [allowDeleting]="true"
                [allowUpdating]="true"
                [selectTextOnEditStart]="true"
                [startEditAction]="'dblClick'"
                mode="batch">
            </dxo-editing>

            <dxi-column alignment="center"
                        caption="Produto"
                        dataField="id">
                <dxo-lookup [dataSource]="produtos" displayExpr="nome" valueExpr="id">
                </dxo-lookup>
            </dxi-column>
            <dxi-column alignment="center"
                        caption="Quantidade"
                        dataField="quantidade">
            </dxi-column>
            <dxi-column alignment="center"
                        caption="Responsável"
                        dataField="nome">
                <dxo-lookup [dataSource]="reservaSelecionada.hospedes"
                            displayExpr="nome"
                            valueExpr="nome">
                </dxo-lookup>
            </dxi-column>
            <dxi-column alignment="center"
                        caption="Pago?"
                        dataField="pago">
                <dxo-lookup [dataSource]="[{name: 'Sim', pago: true},
                                            {name: 'Não', pago: false}]"
                            displayExpr="name"
                            valueExpr="pago">
                </dxo-lookup>
            </dxi-column>
            <dxi-column [visible]="false"
                        dataField="idConsumo">
            </dxi-column>
        </dx-data-grid>
    </div>
</base-crud>

