<base-crud [mode]="mode"
           (saveFunction)="salvar()"
           (filterFunction)="buscaProdutos()"
           (novoCadastroFunction)="novo()"
           (deleteFunction)="excluirProduto()"
           [editTitle]="'Cadastro de Produto'"
           [listTitle]="'Listagem de Produtos'">
    <div list-filter-fields>
    </div>

    <div list-result>
        <dx-data-grid [dataSource]="produtos"
                      [rowAlternationEnabled]="true"
                      (onSelectionChanged)="selecionaProduto($event)"
                      (onRowDblClick)="editarProduto()"
                      [showBorders]="true">

            <dxo-selection mode="single"></dxo-selection>

            <dxi-column dataField="nome"
                        alignment="center">
            </dxi-column>
            <dxi-column dataField="valor"
                        alignment="center"
                        cellTemplate="valorTemplate">
            </dxi-column>
            <dxi-column dataField="estoque"
                        alignment="center"
                        cellTemplate="estoqueTemplate">
            </dxi-column>
            <dxi-column dataField="tipo"
                        alignment="center"
                        cellTemplate="tipoTemplate">
            </dxi-column>

            <div *dxTemplate="let data of 'valorTemplate'">
                {{ Utils.formatarComoMoeda(data.data.valor) }}
            </div>

            <div *dxTemplate="let data of 'estoqueTemplate'">
                {{ (data.data.estoque != null && data.data.estoque != undefined) ? data.data.estoque : 0 }}
            </div>

            <div *dxTemplate="let data of 'tipoTemplate'">
                {{ TiposProdutoEnum[data.data.tipo].getDescricao() }}
            </div>
        </dx-data-grid>
    </div>

    <div edit-template>
        <dx-form>
            <dxi-item [colCount]="3"
                      itemType="group">
                <dxi-item template="nomeTemplate" [label]="{text: 'Nome'}"></dxi-item>
                <dxi-item template="valorTemplate" [label]="{text: 'Valor R$'}"></dxi-item>
                <dxi-item template="tiposTemplate" [label]="{text: 'Tipo do Produto'}"></dxi-item>
            </dxi-item>

            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [(value)]="produto.nome">
                </dx-text-box>
            </div>

            <div *dxTemplate="let data of 'valorTemplate'">
                <dx-number-box #valor
                               (onValueChanged)="defineValor($event)"
                               format="R$ #,##0.00">
                </dx-number-box>
            </div>

            <div *dxTemplate="let data of 'tiposTemplate'">
                <dx-select-box #tipos
                               (onValueChanged)="defineTipo($event)"
                               [dataSource]="tiposProdutoEnumSelectBox"
                               valueExpr="value"
                               displayExpr="displayText">
                </dx-select-box>
            </div>
        </dx-form>
    </div>

</base-crud>
