<base-crud (deleteFunction)="excluirProduto()"
           (filterFunction)="buscaProdutos()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [editTitle]="'Cadastro de Produto'"
           [listTitle]="'Listagem de Produtos'"
           [mode]="mode">
    <div list-filter-fields>
        <dx-form [formData]="produtoFilter"
                 class="mb mt">
            <dxi-item [colCount]="3" itemType="group">
                <dxi-item [label]="{text: 'Código Produto'}" dataField="id" template="idTemplate">
                </dxi-item>
                <dxi-item dataField="nome" template="nomeTemplate">
                </dxi-item>
                <dxi-item dataField="tipo" template="tipoTemplate">
                </dxi-item>
            </dxi-item>

            <!--            TEMPLATE            -->
            <div *dxTemplate="let data of 'idTemplate'">
                <dx-number-box [(value)]="produtoFilter.id"
                               [min]="1"
                               [showClearButton]="true">
                </dx-number-box>
            </div>
            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [(value)]="produtoFilter.nome"
                             [showClearButton]="true">
                </dx-text-box>
            </div>
            <div *dxTemplate="let data of 'tipoTemplate'">
                <dx-select-box [(value)]="produtoFilter.tipo"
                               [dataSource]="tiposProdutoEnumSelectBox"
                               [showClearButton]="true"
                               displayExpr="displayText"
                               valueExpr="value">
                </dx-select-box>
            </div>

        </dx-form>
    </div>

    <div list-result>
        <dx-data-grid (onRowDblClick)="editarProduto()"
                      (onSelectionChanged)="selecionaProduto($event)"
                      [dataSource]="produtos"
                      [rowAlternationEnabled]="true"
                      [showBorders]="true">

            <dxo-selection mode="single"></dxo-selection>

            <dxi-column alignment="center"
                        caption="Código do Produto"
                        dataField="id">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="nome">
            </dxi-column>
            <dxi-column alignment="center"
                        cellTemplate="valorTemplate"
                        dataField="valor">
            </dxi-column>
            <dxi-column alignment="center"
                        cellTemplate="estoqueTemplate"
                        dataField="estoque">
            </dxi-column>
            <dxi-column alignment="center"
                        cellTemplate="tipoTemplate"
                        dataField="tipo">
            </dxi-column>

            <div *dxTemplate="let data of 'valorTemplate'">
                {{ Utils.formatarComoMoeda(data.data.valor) }}
            </div>

            <div *dxTemplate="let data of 'estoqueTemplate'">
                {{ (data.data.estoque != null && data.data.estoque != undefined) ? data.data.estoque : 0 }}
            </div>

            <div *dxTemplate="let data of 'tipoTemplate'">
                {{ TiposProdutoEnum[data.data.tipo].getDescricao() }}
            </div>
        </dx-data-grid>
    </div>

    <div edit-template>
        <dx-form>
            <dxi-item [colCount]="3"
                      itemType="group">
                <dxi-item [label]="{text: 'Nome'}" template="nomeTemplate"></dxi-item>
                <dxi-item [label]="{text: 'Valor R$'}" template="valorTemplate"></dxi-item>
                <dxi-item [label]="{text: 'Tipo do Produto'}" template="tiposTemplate"></dxi-item>
            </dxi-item>

            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [(value)]="produto.nome">
                </dx-text-box>
            </div>

            <div *dxTemplate="let data of 'valorTemplate'">
                <dx-number-box #valor
                               (onValueChanged)="defineValor($event)"
                               format="R$ #,##0.00">
                </dx-number-box>
            </div>

            <div *dxTemplate="let data of 'tiposTemplate'">
                <dx-select-box #tipos
                               (onValueChanged)="defineTipo($event)"
                               [dataSource]="tiposProdutoEnumSelectBox"
                               displayExpr="displayText"
                               valueExpr="value">
                </dx-select-box>
            </div>
        </dx-form>
    </div>

</base-crud>
