<h2 class="content-block">Produto</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-form>
            <dxi-item [colCount]="3"
                      itemType="group">
                <dxi-item template="nomeTemplate"></dxi-item>
                <dxi-item template="valorTemplate"></dxi-item>
                <dxi-item template="tiposTemplate"></dxi-item>

                <div *dxTemplate="let data of 'nomeTemplate'">
                    <dx-text-box [(value)]="produto.nome">
                    </dx-text-box>
                </div>

                <div *dxTemplate="let data of 'valorTemplate'">
                    <dx-number-box [value]="produto.valor">
                    </dx-number-box>
                </div>

                <div *dxTemplate="let data of 'tiposTemplate'">
                    <dx-select-box #tipos
                                   [dataSource]="tiposProdutoEnumSelectBox"
                                   valueExpr="value"
                                   displayExpr="displayText">
                    </dx-select-box>
                </div>

            </dxi-item>
        </dx-form>
    </div>
</div>
