<h2 class="content-block">Monitor Reservas</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">

        <dx-load-panel [(visible)]="isLoading">
        </dx-load-panel>

        <dx-button (onClick)="periodoAnterior()"
                   text="Anterior">
        </dx-button>
        <dx-button (onClick)="semanaAtual()"
                   text="Atual">
        </dx-button>
        <dx-button (onClick)="proximoPeriodo()"
                   text="Próximo">
        </dx-button>
        <dx-form>
            <dxi-item [colCount]="4" itemType="group">
                <dxi-item [colSpan]="3" template="gridTemplate"></dxi-item>
                <dxi-item template="infoTemplate"></dxi-item>
            </dxi-item>

            <!--            TEMPLATE        -->
            <div *dxTemplate="let data of 'gridTemplate'">
                <dx-data-grid #monitor
                              [dataSource]="quartos"
                              [showBorders]="true"
                              keyExpr="nome">
                    <dxi-column [visible]="false" caption="Quarto" dataField="nome"></dxi-column>
                    <dxi-column *ngFor="let date of diasDaSemana"
                                [dataField]="date.toString()"
                                alignment="center"
                                cellTemplate="hospedeReservaTemplate"
                                headerCellTemplate="teste"
                                width="auto">
                        <!--                        dataField="reservas[0].hospedes[0].nome">-->
                    </dxi-column>

                    <div *dxTemplate="let data of 'teste'">
                        <span>{{ formataCabecalho(data.column.name)[0] }}</span>
                        <br>
                        <span>{{ formataCabecalho(data.column.name)[1] }}</span>
                    </div>

                    <div *dxTemplate="let data of 'hospedeReservaTemplate'"
                         (click)="resumoReserva(data, $event)"
                         class="quadrinho"
                         [class.vazio]="formataHospedeReserva(data).length === 0"
                         [class.ocupado]="formataHospedeReserva(data).length > 0">
                        <span style="font-weight: bolder">{{ data.data.nome }}</span>
                        <br>
                        <span>{{ formataHospedeReserva(data).length != 0 ? 'Ocupado' : 'Vago' }}</span>
                        <br>
                        <span style="font-weight: bolder">{{ data.data.tipoQuarto.nome }}</span>
                    </div>
                </dx-data-grid>
            </div>

            <div *dxTemplate="let data of 'infoTemplate'">
                <div *ngIf="reservaDoResumo != undefined" class="card">
                    <strong style="font-size: 24px; text-align: center">
                        Informações da Reserva
                    </strong><br><br>

                    <div style="font-size: 18px">
                        <strong>Hospedes:</strong><br>
                        <span *ngFor="let h of reservaDoResumo.hospedes">
                                              {{ h.nome }}
                                        </span><br>
                        <strong>Quarto:</strong><br>
                        <span>{{ reservaDoResumo.quarto.nome }}</span><br>
                        <strong>Data de Entrada:</strong><br>
                        <span>{{ Utils.dataPadraoBrasileiro(reservaDoResumo.dataEntrada) }}</span><br>
                        <strong>Data Prevista para Saída:</strong><br>
                        <span>{{ Utils.dataPadraoBrasileiro(reservaDoResumo.dataPrevistaSaida) }}</span><br>
                    </div>
                </div>
            </div>

        </dx-form>
    </div>
</div>
