.reserva-na-semana {
    background-color: #FFFF99;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    padding: 25px;
    background-color: #fcfcfc;
}

.quadrinho {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.quadrinho:active {
    transform: scale(0.95);
}

.quadrinho:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.selecionado {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.3);
}

.margin-y {
    margin-top: 15px;
    margin-bottom: 15px;
}

.vazio {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #0c5460;
}

.reservado {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #856404;
}

.ocupado {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #155724;
}

.checkOut {
    padding: 20px;
    background-color: #fffcdc; /* Cor de fundo ligeiramente amarela */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid 1px #a7a300;
}

