<h2 class="content-block">Monitor Reservas</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">

        <dx-load-panel [(visible)]="isLoading">
        </dx-load-panel>

        <div class="row mb mt" style="justify-content: center">
            <dx-button (onClick)="periodoAnterior()"
                       text="Anterior"
                       type="default"
                       class="ml">
            </dx-button>
            <dx-button (onClick)="semanaAtual()"
                       text="Atual"
                       type="default"
                       class="ml">
            </dx-button>
            <dx-button (onClick)="proximoPeriodo()"
                       text="Próximo"
                       type="default"
                       class="ml">
            </dx-button>
            <dx-button (onClick)="voltar()"
                       text="Home"
                       icon="home"
                       class="ml">
            </dx-button>
        </div>
        <dx-form>
            <dxi-item [colCount]="4" itemType="group">
                <dxi-item [colSpan]="3" template="gridTemplate"></dxi-item>
                <dxi-item template="infoTemplate"></dxi-item>
            </dxi-item>

            <!--            TEMPLATE        -->
            <div *dxTemplate="let data of 'gridTemplate'" style="width: 100%">
                <dx-data-grid #monitor
                              [dataSource]="quartos"
                              [showBorders]="true"
                              keyExpr="nome">
                    <dxi-column [visible]="false" caption="Quarto" dataField="nome"></dxi-column>
                    <dxi-column *ngFor="let date of diasDaSemana"
                                [dataField]="date.toString()"
                                alignment="center"
                                cellTemplate="hospedeReservaTemplate"
                                headerCellTemplate="teste"
                                width="auto">
                        <!--                        dataField="reservas[0].hospedes[0].nome">-->
                    </dxi-column>

                    <div *dxTemplate="let data of 'teste'">
                        <span>{{ formataCabecalho(data.column.name)[0] }}</span>
                        <br>
                        <span>{{ formataCabecalho(data.column.name)[1] }}</span>
                    </div>

                    <div (click)="resumoReserva(data, $event)"
                         *dxTemplate="let data of 'hospedeReservaTemplate'"
                         [class.ocupado]="retornaTexto(formataHospedeReserva(data)) == 'Ocupado'"
                         [class.reservado]="retornaTexto(formataHospedeReserva(data)) == 'Reservado'"
                         [class.vazio]="retornaTexto(formataHospedeReserva(data)) == 'Vago'"
                         class="quadrinho">
                        <span style="font-weight: bolder">{{ data.data.nome }}</span>
                        <br>
                        <span>{{ retornaTexto(formataHospedeReserva(data)) }}</span>
                        <br>
                        <span style="font-weight: bolder">{{ data.data.tipoQuarto.nome }}</span>
                        <br>
                        <span *ngIf="formataHospedeReserva(data).at(0)?.checkedIn" style="color: #08cb0b">
                            <i class="fa fa-door-closed"></i>
                        </span>
                        <span
                            *ngIf="formataHospedeReserva(data).at(0)?.checkedIn && formataHospedeReserva(data).at(0)?.checkedOut"
                            style="color: #08cb0b; margin-left: 5px">
                            <i class="fa fa-check-double"></i>
                        </span>
                        <span *ngIf="retornaTexto(formataHospedeReserva(data)) == 'Reservado'" style="color: #cb9e08">
                            <i class="fa fa-check"></i>
                        </span>
                        <span *ngIf="retornaTexto(formataHospedeReserva(data)) == 'Vago'">
                            <i class="fa fa-door-open"></i>
                        </span>

                    </div>
                </dx-data-grid>
            </div>

            <div *dxTemplate="let data of 'infoTemplate'">
                <div *ngIf="reservaDoResumo != undefined" class="card">
                    <strong style="font-size: 24px; text-align: center">
                        Informações da Reserva
                    </strong><br><br>

                    <div style="font-size: 18px">
                        <strong>Reserva: </strong><br>
                        <span>{{ reservaDoResumo.id }}</span><br>
                        <strong>Hospedes:</strong><br>
                        <span *ngFor="let h of reservaDoResumo.hospedes">
                                              {{ h.nome }}
                                        </span><br>
                        <strong>Quarto:</strong><br>
                        <span>{{ reservaDoResumo.quarto.nome }}</span><br>
                        <strong>Data de Entrada:</strong><br>
                        <span>{{ Utils.dataPadraoBrasileiro(reservaDoResumo.dataEntrada) }}</span><br>
                        <strong>Data Prevista para Saída:</strong><br>
                        <span>{{ Utils.dataPadraoBrasileiro(reservaDoResumo.dataPrevistaSaida) }}</span><br>
                    </div>
                </div>
                <div *ngIf="reservaDoResumo != undefined" class="card">
                    <div style="display: flex; justify-content: space-between">
                        <dx-button (onClick)="this.checkInVisible = true"
                                   [disabled]="reservaDoResumo.checkedIn"
                                   icon="fa fa-check"
                                   text="Check-In">
                        </dx-button>
                        <dx-button (onClick)="apuraCheckOut()"
                                   [disabled]="!reservaDoResumo.checkedIn || reservaDoResumo.checkedOut"
                                   icon="fa fa-check-double"
                                   text="Check-Out">
                        </dx-button>
                    </div>
                    <div style="display: flex; justify-content: space-between; margin-top: 10px">
                        <dx-button (onClick)="cadastraConsumo()"
                                   [disabled]="!reservaDoResumo.checkedIn || reservaDoResumo.checkedOut"
                                   icon="fa fa-cart-shopping"
                                   text="Consumo">
                        </dx-button>
                        <dx-button (onClick)="this.cancelaVisible = true"
                                   [disabled]="reservaDoResumo.checkedOut"
                                   icon="fa fa-cancel"
                                   text="Cancelar">
                        </dx-button>
                    </div>
                </div>
            </div>
        </dx-form>

        <dx-popup [(visible)]="checkInVisible"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showTitle]="true"
                  contentTemplate="popup-checkIn"
                  height="75vh"
                  position="center"
                  title="Confirmação do Check-In"
                  width="30vw">
            <div *dxTemplate="let data of 'popup-checkIn'">
                <div *ngIf="reservaDoResumo.checkedIn"
                     class="alert alert-success">
                    <span>Check-In já realizado</span>
                </div>
                <span class="margin-y">Hospedes</span>
                <dx-text-box *ngFor="let h of reservaDoResumo.hospedes"
                             [readOnly]="true"
                             [text]="h.nome + ' - ' + Utils.formatarCPF(h.cpf)">
                </dx-text-box>
                <span class="margin-y">Quarto</span>
                <dx-text-box [readOnly]="true"
                             [text]="reservaDoResumo.quarto.nome">
                </dx-text-box>
                <span class="margin-y">Data da Entrada</span>
                <dx-date-box [readOnly]="true"
                             [value]="reservaDoResumo.dataEntrada"
                             displayFormat="dd/MM/yyyy">
                </dx-date-box>
                <span class="margin-y">Data Prevista da Saída</span>
                <dx-date-box [readOnly]="true"
                             [value]="reservaDoResumo.dataEntrada"
                             displayFormat="dd/MM/yyyy">
                </dx-date-box>

                <div class="margin-y" style="display: flex; justify-content: flex-end">
                    <dx-button (onClick)="checkIn()"
                               [disabled]="reservaDoResumo.checkedIn"
                               icon="fa fa-check"
                               style="margin-right: 15px"
                               text="Confirmar">
                    </dx-button>
                    <dx-button (onClick)="this.checkInVisible = false"
                               icon="fa fa-arrow-rotate-left"
                               text="Voltar">
                    </dx-button>
                </div>
            </div>
        </dx-popup>

        <dx-popup [(visible)]="cancelaVisible"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showTitle]="true"
                  contentTemplate="popup-cancelar"
                  height="45vh"
                  position="center"
                  title="Cancelamento de Reserva"
                  width="30vw">
            <div *dxTemplate="let data of 'popup-cancelar'">
                <div *ngIf="reservaDoResumo.checkedIn"
                     class="alert alert-info">
                    <span>Check-In já realizado</span>
                </div>
                <span
                    style="font-size: 18px">Após confirmar a ação não poderá ser desfeita, realmente deseja cancelar?</span>
                <br>
                <span>Motivo</span>
                <dx-text-area [(value)]="reservaDoResumo.motivoCancelamento"
                              height="15vh">
                </dx-text-area>
                <div class="margin-y" style="display: flex; justify-content: flex-end">
                    <dx-button (onClick)="cancelar()"
                               icon="fa fa-check"
                               style="margin-right: 15px"
                               text="Confirmar">
                    </dx-button>
                    <dx-button (onClick)="this.cancelaVisible = false"
                               icon="fa fa-arrow-rotate-left"
                               text="Voltar">
                    </dx-button>
                </div>
            </div>
        </dx-popup>

        <dx-popup [(visible)]="isCheckOutVisible"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showCloseButton]="true"
                  [showTitle]="true"
                  title="Check-Out">

            <div *ngIf="isCheckOutVisible"
                 style="display: flex; flex-direction: column; align-content: center; justify-content: center; align-items: center">

                <strong class="mb mt" style="font-size: 26px">Produtos Consumidos</strong>
                <dx-data-grid [dataSource]="consumo"
                              [rowAlternationEnabled]="true"
                              [showBorders]="true">
                    <dxi-column caption="Hospede"
                                dataField="hospede.nome">
                    </dxi-column>
                    <dxi-column caption="Produto"
                                dataField="produtoModel.nome">
                    </dxi-column>
                    <dxi-column alignment="center"
                                caption="Valor Unitário"
                                cellTemplate="valorTemplate"
                                dataField="valorProduto">
                    </dxi-column>
                    <dxi-column alignment="center"
                                dataField="quantidade">
                    </dxi-column>
                    <dxi-column alignment="center"
                                cellTemplate="valorTemplate"
                                dataField="valorTotal">
                    </dxi-column>
                    <dxi-column alignment="center"
                                caption="Data"
                                dataField="dataHora"
                                dataType="date"
                                format="dd-MM-yyyy">
                    </dxi-column>
                    <dxi-column alignment="center"
                                caption="Pago?"
                                dataField="pago">
                    </dxi-column>

                    <!--          Templates          -->
                    <div *dxTemplate="let data of 'valorTemplate'">
                        {{ Utils.formatarComoMoeda(data.value) }}
                    </div>
                </dx-data-grid>


                <div class="row"
                     style="width: 100%; justify-content: space-between; align-items: flex-start; margin-top: 30px">
                    <div style="display: flex; flex-direction: column; align-items: center; margin-left: 3rem">
                        <strong class="mb" style="font-size: 26px">Estadia</strong>
                        <dx-data-grid [dataSource]="estadia"
                                      [rowAlternationEnabled]="true"
                                      [showBorders]="true"
                                      width="30vw">
                            <dxi-column alignment="center"
                                        dataField="dia"
                                        dataType="date"
                                        format="dd-MM-yyyy">
                            </dxi-column>
                            <dxi-column alignment="center"
                                        cellTemplate="valorTemplate"
                                        dataField="valor">
                            </dxi-column>

                            <!--          Templates          -->

                            <div *dxTemplate="let data of 'valorTemplate'">
                                {{ Utils.formatarComoMoeda(data.value) }}
                            </div>
                        </dx-data-grid>
                    </div>

                    <div class="checkOut" style="margin-right: 3rem">
                        <div
                            style="width: 100%; border-bottom: 1px solid #a7a300; text-align: center; margin-bottom: 20px">
                            <strong class="mb mt" style="font-size: 26px">Resumo</strong>
                        </div>
                        <div class="row" style="justify-content: space-between; width: 100%">
                            <span class="mb mt" style="font-size: 20px">Total Estadia:</span>
                            <span class="mb mt"
                                  style="font-size: 20px">{{ Utils.formatarComoMoeda(totalEstadia) }}</span>
                        </div>

                        <div class="row" style="justify-content: space-between; width: 100%">
                            <span class="mb mt" style="font-size: 20px">Total Consumo:</span>
                            <span class="mb mt"
                                  style="font-size: 20px">{{ Utils.formatarComoMoeda(totalConsumo) }}</span>
                        </div>

                        <div class="row" style="justify-content: space-between; width: 100%">
                            <strong class="mb mt" style="font-size: 20px">Subtotal:</strong>
                            <strong class="mb mt"
                                    style="font-size: 20px">{{ Utils.formatarComoMoeda(totalCheckOut) }}</strong>
                        </div>

                        <div class="row" style="align-items: center; justify-content: space-between; width: 100%">
                            <span class="mr mb mt" style="font-size: 20px">Desconto:</span>
                            <dx-number-box (onValueChanged)="aplicaDesconto($event)"
                                           [max]="totalCheckOut"
                                           [min]="0"
                                           format="R$ #,##0.00">
                            </dx-number-box>
                        </div>

                        <div class="row" style="justify-content: space-between; width: 100%">
                            <strong class="mb mt" style="font-size: 26px">Total:</strong>
                            <strong class="mb mt"
                                    style="font-size: 26px">{{ Utils.formatarComoMoeda(totalGeral) }}</strong>
                        </div>

                        <div class="row mb mt" style="align-items: flex-end; justify-content: flex-end">
                            <dx-button (onClick)="formaPagamentoVisible = true"
                                       class="mr"
                                       icon="fa fa-floppy-disk"
                                       text="Confirmar">
                            </dx-button>
                            <dx-button (onClick)="isCheckOutVisible = false"
                                       icon="fa fa-arrow-rotate-left"
                                       text="Voltar">
                            </dx-button>
                        </div>
                    </div>
                </div>
            </div>
        </dx-popup>
        <dx-popup [(visible)]="formaPagamentoVisible"
                  [contentTemplate]="'pagamentoTemplate'"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showCloseButton]="true"
                  [showTitle]="true"
                  title="Forma de Pagamento"
                  width="40vw">
            <div *dxTemplate="let data  of 'pagamentoTemplate'">
                <div *ngIf="formaPagamentoVisible">
                    <div class="row">
                        <span class="mr" style="font-size: 20px">Data: </span>
                        <dx-date-box #dataCheckOut
                                     [value]="hoje"
                                     displayFormat="dd/MM/yyyy">
                        </dx-date-box>
                    </div>
                    <br>
                    <strong>Forma de Pagamento:</strong>
                    <dx-radio-group #formaPagamento
                                    (onValueChanged)="defineFormaPagamento($event)"
                                    [dataSource]="formasPag"
                                    displayExpr="displayText"
                                    layout="horizontal"
                                    valueExpr="value">
                    </dx-radio-group>
                    <div *ngIf="formaPagDinheiro === 'DINHEIRO'" class="mt">
                        <span>Dinheiro Entregue: </span>
                        <dx-number-box [(value)]="dinheiroEntregue"
                                       [min]="0"
                                       class="mb"
                                       format="R$ #,##0.00">
                        </dx-number-box>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <span class="mt" style="font-size: 26px; font-weight: bolder">
                            Valor: {{ Utils.formatarComoMoeda(totalGeral) }}
                        </span>
                        <span *ngIf="formaPagDinheiro === 'DINHEIRO'" class="mt"
                              style="font-size: 26px; font-weight: bolder">
                            Troco: {{ Utils.formatarComoMoeda(dinheiroEntregue - totalGeral) }}
                        </span>
                    </div>
                    <div class="mt" style="display: flex; width: 100%; justify-content: flex-end">
                        <dx-button (onClick)="salvaCheckOut()"
                                   class="mr"
                                   icon="fa fa-floppy-disk"
                                   text="Salvar">
                        </dx-button>
                        <dx-button (onClick)="formaPagamentoVisible = false"
                                   icon="fa fa-arrow-rotate-left"
                                   text="Voltar">
                        </dx-button>
                    </div>
                </div>
            </div>
        </dx-popup>
    </div>
</div>
