<h2 class="content-block">Monitor Reservas</h2>
<div class="content-block">
    <div class="dx-card responsive-paddings">
        <dx-button text="Anterior"
                   (onClick)="periodoAnterior()">
        </dx-button>
        <dx-button text="Atual"
                   (onClick)="semanaAtual()">
        </dx-button>
        <dx-button text="Próximo"
                   (onClick)="proximoPeriodo()">
        </dx-button>
        <dx-data-grid [dataSource]="reservas" [showBorders]="true">

            <dxi-column *ngFor="let date of diasDaSemana"
                        caption="{{ Utils.formatarDataParaString(date)}}">
            </dxi-column>


        </dx-data-grid>
    </div>
</div>
