<base-crud #crud
           (filterFunction)="buscar()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [editTitle]="'Cadastro do Hotel'"
           [listTitle]="'Listagem do Cadastro'"
           [mode]="mode">

    <div list-filter-fields>

    </div>

    <div list-result>
        <dx-data-grid [dataSource]="gridResult"
                      (onRowDblClick)="editar()"
                      (onSelectionChanged)="selecionaHotel($event)">

            <dxo-selection mode="single"></dxo-selection>

            <dxi-column dataField="nome"
                        caption="Nome do Hotel">
            </dxi-column>
            <dxi-column dataField="cnpj"
                        caption="CNPJ"
                        cellTemplate="cnpjTemplate">
            </dxi-column>
            <dxi-column dataField="responsavel"
                        caption="Responsável">
            </dxi-column>
            <dxi-column dataField="cpfResponsavel"
                        caption="CPF"
                        cellTemplate="cpfTemplate">
            </dxi-column>

            <div *dxTemplate="let data of 'cnpjTemplate'">
                {{ Utils.formatarCNPJ(data.data.cnpj) }}
            </div>

            <div *dxTemplate="let data of 'cpfTemplate'">
                {{ Utils.formatarCPF(data.data.cpfResponsavel) }}
            </div>

        </dx-data-grid>
    </div>

    <div edit-template>

        <dx-tab-panel>
            <dxi-item title='Dados'>
                <dx-form #hotelForm>
                    <dxi-item [colCount]="2" itemType="group">
                        <dxi-item [label]="{text: 'Nome do Hotel'}"
                                  dataField="nome"
                                  template="nomeTemplate"
                                  [isRequired]="true">
                        </dxi-item>
                        <dxi-item [label]="{text: 'CNPJ'}"
                                  dataField="cnpj"
                                  template="cnpjTemplate"
                                  [isRequired]="true">
                        </dxi-item>
                    </dxi-item>

                    <dxi-item [colCount]="2" itemType="group">
                        <dxi-item [label]="{text: 'Responsável'}"
                                  dataField="responsavel"
                                  template="responsavelTemplate">
                        </dxi-item>
                        <dxi-item [label]="{text: 'CPF do Responsável'}"
                                  dataField="cpfResponsavel"
                                  template="cpfTemplate">
                        </dxi-item>
                    </dxi-item>

                    <!--          TEMPLATE      -->

                    <div *dxTemplate="let data of 'nomeTemplate'">
                        <dx-text-box [(value)]="hotel.nome">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'cnpjTemplate'">
                        <dx-text-box [(value)]="hotel.cnpj"
                                     mask="##.###.###/####-##">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'responsavelTemplate'">
                        <dx-text-box [(value)]="hotel.responsavel">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'cpfTemplate'">
                        <dx-text-box [(value)]="hotel.cpfResponsavel"
                                     mask="###.###.###-##">
                        </dx-text-box>
                    </div>
                </dx-form>
            </dxi-item>
            <dxi-item title='Endereço'>
                <app-endereco-form #enderecoForm>
                </app-endereco-form>
            </dxi-item>
            <dxi-item title='Logo'>
                <dx-form>
                    <dxi-item itemType="group">
                        <dxi-item template="logoTemplate"></dxi-item>
                    </dxi-item>

                    <!--        TEMPLATES       -->

                    <div *dxTemplate="let data of 'logoTemplate'">
                        <div class="container">
                            <div>
                                <!-- Verifica se logoAsDataSource está definido antes de tentar exibir a imagem -->
                                <img *ngIf="hotel.logoAsDataSource" [src]="hotel.logoAsDataSource" class="imagem img-border">
                                <!-- Se logoAsDataSource não estiver definido, exibe apenas o quadro em branco -->
                                <div *ngIf="!hotel.logoAsDataSource" class="imagem img-border"></div>
                            </div>
                            <dx-file-uploader #fileUploader
                                              (onValueChanged)="carregarArquivo($event)"
                                              [(value)]="imgData"
                                              [accept]="'image/*'"
                                              [multiple]="false"
                                              [selectButtonText]="'Selecione a imagem'"
                                              [uploadMode]="'useForm'"
                                              width="500px">
                            </dx-file-uploader>
                            <ul style="justify-content: flex-start">
                                <li><strong>Nome:</strong> {{ file?.name }}</li>
                                <li><strong>Tamanho:</strong> {{ Utils.formatFileSize(file?.size) }}</li>
                                <li><strong>Tipo:</strong> {{ file?.type }}</li>
                            </ul>
                            <div>
                                <dx-button icon="fa fa-download" (onClick)="baixar()"></dx-button>
                                <dx-button icon="fa fa-trash" (onClick)="limparImagem()"></dx-button>
                            </div>
                        </div>
                    </div>


                </dx-form>
            </dxi-item>
        </dx-tab-panel>

    </div>

</base-crud>
