.exibe-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exibe-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger hr {
    border-top: 1px solid #f1b0b7;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alert-danger a {
    color: #842029;
}

.alert-danger a:hover {
    color: #6f1a21;
}

.empresa {
    margin-top: 15px;
    font-size: 16px;
}

.empresa span {
    margin: 0 10px;
}
