<base-crud #crud
           (filterFunction)="buscar()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [editTitle]="'Cadastro de Reserva'"
           [listTitle]="'Listagem de Reservas'"
           [mode]="mode">

    <div list-filter-fields></div>
    <div list-result></div>
    <div edit-template>

        <dx-tab-panel>
            <dxi-item title="Hospede">
                <dx-autocomplete>
                </dx-autocomplete>
            </dxi-item>
            <dxi-item title="Quarto">
            </dxi-item>
            <dxi-item title="Data da Reserva">
            </dxi-item>
        </dx-tab-panel>

    </div>
</base-crud>
