<base-crud #crud
           (deleteFunction)="exclui()"
           (filterFunction)="buscar()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [editTitle]="'Cadastro de Reserva'"
           [listTitle]="'Listagem de Reservas'"
           [mode]="mode">

    <div list-filter-fields></div>
    <div list-result>
        <dx-data-grid (onRowDblClick)="editar()"
                      (onSelectionChanged)="selecionaReserva($event)"
                      [dataSource]="reservas"
                      [rowAlternationEnabled]="true">

            <dxo-selection mode="single"></dxo-selection>

            <dxi-column alignment="center"
                        cellTemplate="hospedesTemplate"
                        dataField="hospedes">
            </dxi-column>
            <dxi-column alignment="center" dataField="quarto.nome" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="dataEntrada"
                        dataType="date"
                        format="dd-MM-yyyy" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="dataPrevistaSaida"
                        dataType="date"
                        format="dd-MM-yyyy" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="dataSaida"
                        dataType="date"
                        format="dd-MM-yyyy" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="checkedIn" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="checkedOut" width="auto">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="cancelada" width="auto">
            </dxi-column>

            <!--            TEMPLATE        -->

            <div *dxTemplate="let data of 'hospedesTemplate'">
                <div *ngFor="let h of data.data.hospedes">
                    {{ h.nome + ' - ' + Utils.formatarCPF(h.cpf) }}
                </div>
            </div>

            <div *dxTemplate="let data of 'Template'">

            </div>

        </dx-data-grid>
    </div>

    <div edit-template>

        <dx-tab-panel #tabPanel>
            <dxi-item title="Hospede">
                <dx-form>
                    <dxi-item [label]="{text: 'Hospede'}"
                              template="hospedeTemplate">
                    </dxi-item>
                    <dxi-item [label]="{text: 'Hospedes na reserva'}"
                              template="gridHospedeTemplate">
                    </dxi-item>

                    <!--                    TEMPLATE                -->
                    <div *dxTemplate="let data of 'hospedeTemplate'">
                        <div class="exibe-linha">
                            <dx-autocomplete #hospedeAutoComplete
                                             (onEnterKey)="adicionaHospedeGrid()"
                                             [dataSource]="hospedes"
                                             placeholder="Comece a digitar para pesquisar ..."
                                             valueExpr="nome"
                                             width="100%">
                            </dx-autocomplete>
                            <dx-button (onClick)="adicionaHospedeGrid()"
                                       class="ml"
                                       icon="fa fa-plus">
                            </dx-button>
                            <dx-button (onClick)="removeHospedeGrid()" class="ml"
                                       icon="fa fa-minus">
                            </dx-button>
                        </div>
                    </div>
                    <div *dxTemplate="let data of 'gridHospedeTemplate'">
                        <dx-data-grid #gridDeHospedesNaReserva
                                      (onSelectionChanged)="selecionaHospede($event)"
                                      [dataSource]="reserva.hospedes"
                                      [rowAlternationEnabled]="true">

                            <dxo-selection mode="single"></dxo-selection>

                            <dxi-column dataField="nome">
                            </dxi-column>
                            <dxi-column caption="CPF"
                                        cellTemplate="cpfTemplate"
                                        dataField="cpf">
                            </dxi-column>
                            <dxi-column cellTemplate="telefoneTemplate"
                                        dataField="telefone">
                            </dxi-column>
                            <dxi-column cellTemplate="celularTemplate"
                                        dataField="celular">
                            </dxi-column>
                            <dxi-column caption="E-mail"
                                        dataField="email">
                            </dxi-column>
                            <dxi-column dataField="ativo">
                            </dxi-column>

                            <!--            TEMPLATE        -->

                            <div *dxTemplate="let data of 'cpfTemplate'">
                                {{ Utils.formatarCPF(data.value) }}
                            </div>

                            <div *dxTemplate="let data of 'telefoneTemplate'">
                                {{ Utils.formatarTelefone(data.value) }}
                            </div>

                            <div *dxTemplate="let data of 'celularTemplate'">
                                {{ Utils.formatarCelular(data.value) }}
                            </div>
                        </dx-data-grid>
                    </div>
                </dx-form>
            </dxi-item>
            <dxi-item title="Quarto">
                <dx-form>
                    <dxi-item [label]="{text: 'Quarto'}"
                              template="quartoTemplate">
                    </dxi-item>
                    <dxi-item [label]="{text: 'Quartos na Reserva'}"
                              template="gridQuartoTemplate">
                    </dxi-item>

                    <!--                    TEMPLATE                -->
                    <div *dxTemplate="let data of 'quartoTemplate'">
                        <div class="exibe-linha">
                            <dx-select-box #quartoSelectBox
                                           (onEnterKey)="adicionaQuartoGrid()"
                                           [dataSource]="quartos"
                                           displayExpr="nome"
                                           width="100%">
                            </dx-select-box>
                            <dx-button (onClick)="adicionaQuartoGrid()"
                                       class="ml"
                                       icon="fa fa-plus">
                            </dx-button>
                            <dx-button (onClick)="removeQuartoGrid()" class="ml"
                                       icon="fa fa-minus">
                            </dx-button>
                        </div>
                    </div>
                    <div *dxTemplate="let data of 'gridQuartoTemplate'">
                        <dx-data-grid #gridDeQuartosNaReserva
                                      (onSelectionChanged)="selecionaQuarto($event)"
                                      [dataSource]="reserva.quartos"
                                      [rowAlternationEnabled]="true">

                            <dxo-selection mode="single"></dxo-selection>

                            <dxi-column caption="Nome"
                                        dataField="nome">
                            </dxi-column>
                            <dxi-column caption="Capacidade de Pessoas"
                                        dataField="capacidadePessoas">
                            </dxi-column>
                            <dxi-column caption="Valor da Diaria"
                                        dataField="valorDiaria">
                            </dxi-column>
                            <dxi-column caption="Tipo"
                                        cellTemplate="tipoTemplate"
                                        dataField="tipo">
                            </dxi-column>
                            <dxi-column caption="Categoria"
                                        cellTemplate="categoriaTemplate"
                                        dataField="categoria">
                            </dxi-column>

                            <!--            TEMPLATE        -->
                            <div *dxTemplate="let data of 'tipoTemplate'">
                                {{ data.data.tipoQuarto.nome }}
                            </div>

                            <div *dxTemplate="let data of 'categoriaTemplate'">
                                {{ data.data.categoriaQuarto.nome }}
                            </div>
                        </dx-data-grid>
                    </div>
                </dx-form>
            </dxi-item>
            <dxi-item title="Data da Reserva">
                <dx-form>
                    <dxi-item [colCount]="2" itemType="group">
                        <dxi-item [label]="{text: 'Data da Entrada'}"
                                  template="entradaTemplate">
                        </dxi-item>
                        <dxi-item [label]="{text: 'Data da Saída'}"
                                  template="saidaTemplate">
                        </dxi-item>
                    </dxi-item>

                    <!--               TEMPLATE           -->

                    <div *dxTemplate="let data of 'entradaTemplate'">
                        <div class="exibe-coluna">
                            <dx-date-box [(value)]="reserva.dataEntrada"
                                         class="mb"
                                         displayFormat="dd/MM/yyyy">
                            </dx-date-box>
                            <dx-calendar [(value)]="reserva.dataEntrada"
                                         [min]="hoje">
                            </dx-calendar>
                        </div>
                    </div>

                    <div *dxTemplate="let data of 'saidaTemplate'">
                        <div class="exibe-coluna">
                            <dx-date-box [(value)]="reserva.dataPrevistaSaida"
                                         class="mb"
                                         displayFormat="dd/MM/yyyy">
                            </dx-date-box>
                            <dx-calendar [(value)]="reserva.dataPrevistaSaida"
                                         [min]="hoje">
                            </dx-calendar>
                        </div>
                    </div>
                </dx-form>
            </dxi-item>
            <dxi-item title="Empresa">
                <dx-form>
                    <dxi-item template="empresaTemplate">
                    </dxi-item>

                    <!--            TEMPLATE             -->
                    <div *dxTemplate="let data of 'empresaTemplate'">
                        <div class="empresa">
                            <span>
                                É reserva para empresa?
                            </span>
                            <br>
                            <div style="display: flex; align-items: flex-start; margin-top: 10px;">
                                <dx-switch (onValueChanged)="limpaEmpresa()"
                                           [(value)]="reserva.isEmpresa">
                                </dx-switch>
                                <span style="margin-left: 10px">
                                    {{ reserva.isEmpresa ? 'Sim' : 'Não' }}
                                </span>
                            </div>
                        </div>
                        <dx-select-box #empresaSelect
                                       (onValueChanged)="defineEmpresa()"
                                       *ngIf="reserva.isEmpresa"
                                       [dataSource]="empresas"
                                       [searchEnabled]="true"
                                       [value]="reserva.empresa"
                                       displayExpr="razaoSocial"
                                       searchExpr="razaoSocial"
                                       searchMode="contains"
                                       style="margin-top: 15px">
                        </dx-select-box>
                    </div>
                </dx-form>
            </dxi-item>
            <dxi-item title="Resumo da Reserva">
                <dx-form>
                    <dxi-item *ngIf="reserva.empresa != null" itemType="group">
                        <dxi-item [label]="{text: 'Empresa responsável'}"
                                  template="resumoEmpresaTemplate">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item [colCount]="3" itemType="group">
                        <dxi-item [label]="{text: 'Hospedes na Reserva'}"
                                  template="resumoHospedeTemplate">
                        </dxi-item>
                        <dxi-item [label]="{text: 'Quartos Reservados'}"
                                  template="resumoQuartoTemplate">
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item [label]="{text: 'Data da Entrada'}"
                                      template="resumoDataEntradaTemplate">
                            </dxi-item>
                            <dxi-item [label]="{text: 'Data Prevista da Saída'}"
                                      template="resumoDataSaidaTemplate">
                            </dxi-item>
                        </dxi-item>
                    </dxi-item>

                    <!--                TEMPLATES           -->
                    <div *dxTemplate="let data of 'resumoEmpresaTemplate'">
                        <dx-text-box [readOnly]="true"
                                     [value]="reserva.empresa?.razaoSocial || ''"
                                     class="mb">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'resumoHospedeTemplate'">
                        <div *ngFor="let h of reserva.hospedes">
                            <dx-text-box [readOnly]="true"
                                         [value]="h.nome"
                                         class="mb">
                            </dx-text-box>
                        </div>
                    </div>
                    <div *dxTemplate="let data of 'resumoQuartoTemplate'">
                        <div *ngFor="let q of reserva.quartos">
                            <dx-text-box [readOnly]="true"
                                         [value]="q.nome"
                                         class="mb">
                            </dx-text-box>
                        </div>
                    </div>
                    <div *dxTemplate="let data of 'resumoDataEntradaTemplate'">
                        <dx-date-box [readOnly]="true"
                                     [value]="reserva.dataEntrada"
                                     class="mb"
                                     displayFormat="dd/MM/yyyy">
                        </dx-date-box>
                    </div>
                    <div *dxTemplate="let data of 'resumoDataSaidaTemplate'">
                        <dx-date-box [readOnly]="true"
                                     [value]="reserva.dataPrevistaSaida"
                                     displayFormat="dd/MM/yyyy">
                        </dx-date-box>
                    </div>
                </dx-form>

                <div *ngIf="reservasJaRealizadas.length > 0" style="width: 100%">

                    <div class="alert alert-danger" role="alert">
                        A reserva atual <strong>sobrepõe</strong> a(s) reserva(s) já existente(s) abaixo, impossível
                        inclusão!
                    </div>


                    <dx-data-grid [dataSource]="reservasJaRealizadas"
                                  [rowAlternationEnabled]="true">

                        <dxi-column caption="Reserva"
                                    dataField="id">

                        </dxi-column>
                        <dxi-column caption="Data da Entrada"
                                    dataField="dataEntrada"
                                    dataType="date"
                                    format="dd-MM-yyyy">

                        </dxi-column>
                        <dxi-column caption="Data da Saída"
                                    dataField="dataPrevistaSaida"
                                    dataType="date"
                                    format="dd-MM-yyyy">

                        </dxi-column>
                        <dxi-column caption="Quarto(s)"
                                    cellTemplate="quartosTemplate"
                                    dataField="quartos">

                        </dxi-column>
                        <dxi-column caption="Hospede(s)"
                                    cellTemplate="hospedesTemplate"
                                    dataField="hospedes">

                        </dxi-column>

                        <!--                        TEMPLATE                    -->

                        <div *dxTemplate="let data of 'quartosTemplate'">
                                <span>
                                    {{ data.data.quarto.nome }}
                                </span>
                        </div>

                        <div *dxTemplate="let data of 'hospedesTemplate'">
                                <span *ngFor="let h of data.data.hospedes">
                                    {{ h.nome }}
                                </span>
                        </div>

                    </dx-data-grid>
                </div>

            </dxi-item>
        </dx-tab-panel>

    </div>
</base-crud>
