.exibe-linha {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exibe-coluna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
