<div class="content-block">
    <div class="dx-card responsive-paddings">
                <span class="row" style="justify-content: flex-end">Data e Hora: {{ dataHoraHoje | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
        <div class="row" style="justify-content: space-evenly;">
            <h1 style="font-weight: bolder; font-size: 4rem">{{ hotel.nome }}</h1>
            <img [src]="hotel.logoAsDataSource" class="imagem img-border">
        </div>
        <div class="row">
            <div class="col">
                <h2>Atalhos</h2>
                <div class="botao">
                    Quarto
                </div>
                <div class="botao">
                    Hospede
                </div>
                <div class="botao">
                    Empresa
                </div>
                <div class="botao">
                    Reserva
                </div>
                <div class="botao">
                    Produto
                </div>
                <div class="botao">
                    Monitor
                </div>
            </div>
            <div class="col">
                <div class="botao">
                    <span><i class="fa-solid fa-calculator"></i> Calculadora</span>
                </div>
            </div>
        </div>
        <div>
            <app-calculadora></app-calculadora>
        </div>
    </div>
</div>
