.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem {
    height: 200px;
    width: 200px;
}

.col {
    display: flex;
    flex-direction: column;
}

.img-border {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    /*margin-top: 20px;*/
    /*padding: 5px;*/
}

dx-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.scale:hover {
    transform: scale(1.05);
}

.centered-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Garante que as colunas tenham o mesmo tamanho */
}

.centered-table th,
.centered-table td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;
}

.centered-table th {
    background-color: #f2f2f2;
}

#atalho {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Garante que as colunas tenham o mesmo tamanho */
    border: 1px solid #f2f2f2;
}

#atalho th,
#atalho td {
    text-align: center;
    padding: 8px;
}

#atalho th {
    background-color: #f2f2f2;
}
