<div class="content-block">
    <div class="dx-card responsive-paddings">
        <span class="row"
              style="justify-content: flex-end">Data e Hora: {{ dataHoraHoje | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
        <div class="row mb" style="justify-content: space-evenly;">
            <h1 style="font-weight: bolder; font-size: 4rem">{{ hotel.nome }}</h1>
            <img [src]="hotel.logoAsDataSource" class="imagem img-border">
        </div>

        <div class="dx-card responsive-paddings" style="display: flex; justify-content: space-evenly">

            <table class="centered-table" style="width: 25%">
                <thead>
                <th colspan="2"> Reservas</th>
                </thead>
                <tr>
                    <td>Na Semana</td>
                    <td>{{ reservasNaSemana }}</td>
                </tr>
                <tr>
                    <td>Hospedados</td>
                    <td>{{ reservasComCheckIn }}</td>
                </tr>
                <tr>
                    <td>CheckOut Hoje</td>
                    <td>{{ checkOutParaHoje }}</td>
                </tr>
            </table>

            <table class="centered-table" style="width: 25%">
                <thead>
                <th> Quarto</th>
                <th> Reservas na Semana</th>
                </thead>
                <ng-container *ngFor="let data of quartosOcupados">
                    <tr>
                        <td>{{ data.quarto }}</td>
                        <td>{{ data.ocupacao }}</td>
                    </tr>
                </ng-container>
            </table>

            <table style="width: 25%" id="atalho">
                <thead>
                <th colspan="2">Atalhos</th>
                </thead>
                <tr *ngFor="let b of buttons; let i = index">
                    <ng-container *ngIf="i % 2 === 0">
                        <td>
                            <dx-button (onClick)="navegarPara(b.path)" [icon]="b.icon" [text]="b.text"
                                       type="default"></dx-button>
                        </td>
                        <td *ngIf="buttons[i + 1]">
                            <dx-button (onClick)="navegarPara(buttons[i + 1].path)" [icon]="buttons[i + 1].icon"
                                       [text]="buttons[i + 1].text" type="default"></dx-button>
                        </td>
                    </ng-container>
                </tr>
                <tr>
                    <td colspan="2">
                        <dx-button (onClick)="isCalculadoraVisible = true"
                                   icon="fa-solid fa-calculator"
                                   text="Calculadora"
                                   type="default">
                        </dx-button>
                    </td>
                </tr>
            </table>
        </div>
        <dx-popup [(visible)]="isCalculadoraVisible"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showCloseButton]="true"
                  [showTitle]="true"
                  height="450px"
                  title="Calculadora"
                  width="450px">
            <app-calculadora></app-calculadora>
        </dx-popup>
    </div>
</div>
