<div class="content-block">
    <div class="dx-card responsive-paddings">
        <span class="row"
              style="justify-content: flex-end">Data e Hora: {{ dataHoraHoje | date: 'dd/MM/yyyy HH:mm:ss' }}</span>
        <div class="row mb" style="justify-content: space-evenly;">
            <h1 style="font-weight: bolder; font-size: 4rem">{{ hotel.nome }}</h1>
            <img [src]="hotel.logoAsDataSource" class="imagem img-border">
        </div>
        <div class="row mt mb" style="justify-content: center">
            <span style="font-size: 26px; font-weight: bolder">Atalhos</span>
        </div>
        <div class="row mt mb" style="justify-content: space-evenly">
            <dx-button (onClick)="navegarPara('quartos')"
                       text="Quartos"
                       icon="fa-solid fa-door-open"
                       type="default">
            </dx-button>
            <dx-button (onClick)="navegarPara('hospedes')"
                       text="Hospedes"
                       icon="fa-solid fa-user"
                       type="default">
            </dx-button>
            <dx-button (onClick)="navegarPara('empresas')"
                       text="Empresas"
                       icon="fa-solid fa-city"
                       type="default">
            </dx-button>
            <dx-button (onClick)="navegarPara('reservas')"
                       text="Reservas"
                       icon="fa-solid fa-calendar-days"
                       type="default">
            </dx-button>
            <dx-button (onClick)="navegarPara('produto')"
                       text="Produtos"
                       icon="fa-solid fa-barcode"
                       type="default">
            </dx-button>
            <dx-button (onClick)="navegarPara('monitor-reservas')"
                       text="Monitor"
                       icon="fa-solid fa-table"
                       type="default">
            </dx-button>
            <dx-button (onClick)="isCalculadoraVisible = true"
                       text="Calculadora"
                       icon="fa-solid fa-calculator"
                       type="default">
            </dx-button>
        </div>
        <div class="row mb mt" style="justify-content: center">
            <span style="font-size: 26px; font-weight: bolder">Estatísticas</span>
        </div>
        <div class="row mt mb">
            <div class="stats-container">
                <div class="stat-block">
                    <span class="stat-title">Reservas Na Semana: </span><br>
                    <span class="stat-value">{{ reservasNaSemana }}</span><br>
                </div>
                <div class="stat-block">
                    <span class="stat-title">Reservas Com CheckIn: </span><br>
                    <span class="stat-value">{{ reservasComCheckIn }}</span><br>
                </div>
                <div class="stat-block">
                    <span class="stat-title">Reservas Com CheckOut: </span><br>
                    <span class="stat-value">{{ reservasComCheckOut }}</span><br>
                </div>
                <div class="stat-block">
                    <span class="stat-title">Reservas Previstas Para Sair na Semana: </span><br>
                    <span class="stat-value">{{ reservasPrevistasParaSair }}</span><br>
                </div>
                <div class="stat-block">
                    <span class="stat-title">CheckOut Para Hoje: </span><br>
                    <span class="stat-value">{{ checkOutParaHoje }}</span><br>
                </div>
                <div class="stat-block">
                    <span class="stat-title">Quarto Mais Vago na Semana: </span><br>
                    <span class="stat-value">{{ quartoMaisVagoDaSemana }}</span><br>
                </div>
            </div>
            <div class="stats-container">
                <ng-container *ngFor="let data of quartosOcupados">
                    <div class="stat-block">
                        <span class="stat-title">Quarto {{ data.quarto }}: </span><br>
                        <span class="stat-value">{{ data.ocupacao }}</span><br>
                    </div>
                </ng-container>
            </div>
        </div>
        <dx-popup [(visible)]="isCalculadoraVisible"
                  [dragEnabled]="true"
                  [resizeEnabled]="false"
                  [showTitle]="true"
                  [showCloseButton]="true"
                  title="Calculadora"
                  width="450px"
                  height="450px">
            <app-calculadora></app-calculadora>
        </dx-popup>
    </div>
</div>
