.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imagem {
    height: 200px;
    width: 200px;
}

.col {
    display: flex;
    flex-direction: column;
}

.img-border {
    border: 1px solid #000000;
    border-radius: 5px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    padding: 10px;
}

dx-button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.stat-block {
    padding: 15px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    transition: transform 0.3s;
    cursor: pointer;
}

.stat-block:hover {
    transform: scale(1.05);
}

.stat-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-value {
    font-size: 1.5rem;
    color: #E64B16;
}

