<div class="calculator">
    <dx-text-box [placeholder]="'0'"
                 [readOnly]=true
                 [value]=displayValue
                 id="display"
                 stylingMode='underlined'
                 width='300px'>
    </dx-text-box>
    <div class="buttons">
        <div *ngFor="let row of buttons" class="row">
            <div *ngFor="let button of row">
                <dx-button (onClick)="handleButtonClick(button)"
                           [stylingMode]="'outlined'"
                           [text]="button">
                </dx-button>
            </div>
        </div>
    </div>
</div>

