<base-crud [mode]="mode"
           (saveFunction)="salvar()"
           (filterFunction)="buscaTransacoes()"
           (novoCadastroFunction)="novo()">
    <div list-filter-fields>

    </div>

    <div list-result>
        <dx-data-grid [dataSource]="transacoes">
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

            <dxi-column alignment="center"
                        dataField="numeroTransacao"
                        [groupIndex]="0">

            </dxi-column>
            <dxi-column alignment="center"
                        dataField="produtoModel.nome">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="quantidade">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="dataHora"
                        dataType="date"
                        format="dd-MM-yyyy HH:mm:ss">
            </dxi-column>
        </dx-data-grid>
    </div>

    <div edit-template>

        <dx-data-grid #gridMovimento
                      [dataSource]="produtosNaGrid"
                      [showBorders]="true"
                      [rowAlternationEnabled]="true">

            <dxo-editing
                mode="batch"
                [allowUpdating]="true"
                [allowAdding]="true"
                [allowDeleting]="true"
                [selectTextOnEditStart]="true"
                [startEditAction]="'dblClick'">
            </dxo-editing>

            <dxi-column dataField="id"
                        alignment="center"
                        caption="Produto">
                <dxo-lookup [dataSource]="produtos" displayExpr="nome" valueExpr="id">
                </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="estoque"
                        alignment="center"
                        caption="Quantidade">
            </dxi-column>
            <dxi-column dataField="value"
                        alignment="center"
                        caption="Tipo do Movimento">
                <dxo-lookup [dataSource]="tiposMovimento" displayExpr="displayText" valueExpr="value">
                </dxo-lookup>
            </dxi-column>
        </dx-data-grid>
    </div>

</base-crud>
