<base-crud (filterFunction)="buscaTransacoes()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [mode]="mode">
    <div list-filter-fields>

    </div>

    <div list-result>
        <dx-data-grid [dataSource]="transacoes">
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>

            <dxi-column [groupIndex]="0"
                        alignment="center"
                        caption="Movimento"
                        dataField="numeroTransacao">

            </dxi-column>
            <dxi-column alignment="center"
                        caption="Produto"
                        dataField="produtoModel.nome">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="quantidade">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="dataHora"
                        dataType="date"
                        format="dd-MM-yyyy HH:mm:ss">
            </dxi-column>
        </dx-data-grid>
    </div>

    <div edit-template>

        <dx-data-grid #gridMovimento
                      [dataSource]="produtosNaGrid"
                      [rowAlternationEnabled]="true"
                      [showBorders]="true">

            <dxo-editing
                [allowAdding]="true"
                [allowDeleting]="true"
                [allowUpdating]="true"
                [selectTextOnEditStart]="true"
                [startEditAction]="'dblClick'"
                mode="batch">
            </dxo-editing>

            <dxi-column alignment="center"
                        caption="Produto"
                        dataField="id">
                <dxo-lookup [dataSource]="produtos" displayExpr="nome" valueExpr="id">
                </dxo-lookup>
            </dxi-column>
            <dxi-column alignment="center"
                        caption="Quantidade"
                        dataField="estoque">
            </dxi-column>
            <dxi-column alignment="center"
                        caption="Tipo do Movimento"
                        dataField="value">
                <dxo-lookup [dataSource]="tiposMovimento" displayExpr="displayText" valueExpr="value">
                </dxo-lookup>
            </dxi-column>
        </dx-data-grid>
    </div>

</base-crud>
