<base-crud #crud
           (filterFunction)="buscar()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           [editTitle]="'Cadastro de Categorias'"
           [listTitle]="'Listagem de Categorias'"
           [mode]="mode">
    <div list-filter-fields>
        <dx-form class="mt mb">
            <dxi-item [colCount]="2" itemType="group">
                <dxi-item [label]="{text: 'ID'}" dataField="id" template="idTemplate">
                </dxi-item>
                <dxi-item [label]="{text: 'Nome da Categoria'}" dataField="nome" template="nomeTemplate">
                </dxi-item>
            </dxi-item>

            <!--            TEMPLATE        -->
            <div *dxTemplate="let data of 'idTemplate'">
                <dx-number-box [(value)]="categoriaFilter.id"
                               [showClearButton]="true">
                </dx-number-box>
            </div>
            <div *dxTemplate="let data of 'nomeTemplate'">
                <dx-text-box [(value)]="categoriaFilter.nome"
                             [showClearButton]="true">
                </dx-text-box>
            </div>
        </dx-form>
    </div>

    <div class="mt" list-result>
        <dx-data-grid (onRowDblClick)="edit()"
                      (onSelectionChanged)="selecionaCategoria($event)"
                      [dataSource]="categorias"
                      [rowAlternationEnabled]="true"
                      [showBorders]="true">
            <dxo-selection mode="single"></dxo-selection>
            <dxi-column alignment="center"
                        caption="ID"
                        dataField="id">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="nome">
            </dxi-column>
            <dxi-column alignment="center"
                        dataField="ativa">
            </dxi-column>
        </dx-data-grid>
    </div>

    <div edit-template>
        <div class="row">
            <div class="row mr">
                <span class="mr">Categoria</span>
                <dx-text-box #categoriaTextBox
                             (onEnterKey)="salvar()"
                             [(value)]="categoria.nome"
                             [showClearButton]="true"
                             labelMode="hidden"
                             width="500">
                </dx-text-box>
            </div>

            <div class="row ml">
                <span class="mr">Ativo</span>
                <dx-check-box (onValueChanged)="categoria.ativa = $event.value"
                              [value]="categoria.ativa">
                </dx-check-box>
            </div>
        </div>
    </div>
</base-crud>
