<base-crud #crud
           (filterFunction)="buscar()"
           (novoCadastroFunction)="novo()"
           (saveFunction)="salvar()"
           (deleteFunction)="excluir()"
           [editTitle]="'Cadastro de Quartos'"
           [listTitle]="'Listagem de Quartos'"
           [mode]="mode">

    <div list-filter-fields>

    </div>

    <div list-result>
        <dx-data-grid [dataSource]="quartosCadastrados"
                      (onRowDblClick)="editar()"
                      (onSelectionChanged)="selecionaQuarto($event)">

            <dxo-selection mode="single"></dxo-selection>

            <dxi-column dataField="nome"
                        caption="Nome">
            </dxi-column>
            <dxi-column dataField="capacidadePessoas"
                        caption="Capacidade de Pessoas">
            </dxi-column>
            <dxi-column dataField="valorDiaria"
                        caption="Valor da Diaria"
                        cellTemplate="valorDaDiariaTemplate">
            </dxi-column>
            <dxi-column dataField="tipo"
                        caption="Tipo"
                        cellTemplate="tipoTemplate">
            </dxi-column>
            <dxi-column dataField="categoria"
                        caption="Categoria"
                        cellTemplate="categoriaTemplate">
            </dxi-column>
            <dxi-column dataField="ativo"
                        caption="Ativo?">
            </dxi-column>

            <!--            TEMPLATE        -->
            <div *dxTemplate="let data of 'tipoTemplate'">
                {{data.data.tipoQuarto.nome}}
            </div>

            <div *dxTemplate="let data of 'categoriaTemplate'">
                {{data.data.categoriaQuarto.nome}}
            </div>

            <div *dxTemplate="let data of 'valorDaDiariaTemplate'">
                {{Utils.formatarComoMoeda(data.data.valorDiaria)}}
            </div>
        </dx-data-grid>
    </div>

    <div edit-template>

        <dx-tab-panel>
            <dxi-item title='Dados'>
                <dx-form #cadForm
                         [formData]="quarto">

                    <dxi-item [colCount]="2"
                              itemType="group">
                        <dxi-item dataField="nome"
                                  template="nomeTemplate"
                                  [isRequired]='true'>
                        </dxi-item>
                        <dxi-item dataField="ativo"
                                  template="ativoTemplate">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item [colCount]="2"
                              itemType="group">
                        <dxi-item dataField="capacidadePessoas"
                                  template="capacidadePessoasTemplate"
                                  [isRequired]='true'>
                        </dxi-item>
                        <dxi-item dataField="valorDiara"
                                  template="valorDiaraTemplate"
                                  [isRequired]='true'>
                        </dxi-item>
                    </dxi-item>
                    <dxi-item [colCount]="2"
                              itemType="group">
                        <dxi-item dataField="tipoQuarto"
                                  template="tipoQuartoTemplate"
                                  [isRequired]='true'>
                        </dxi-item>
                        <dxi-item dataField="categoriaQuarto"
                                  template="categoriaQuartoTemplate"
                                  [isRequired]='true'>
                        </dxi-item>
                    </dxi-item>

                    <!--   TEMPLATES   -->

                    <div *dxTemplate="let data of 'nomeTemplate'">
                        <dx-text-box [(value)]="quarto.nome">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'ativoTemplate'">
                        <dx-switch [(value)]="quarto.ativo">
                        </dx-switch>
                    </div>
                    <div *dxTemplate="let data of 'capacidadePessoasTemplate'">
                        <dx-number-box [(value)]="quarto.capacidadePessoas"
                                       [min]="1">
                        </dx-number-box>
                    </div>
                    <div *dxTemplate="let data of 'valorDiaraTemplate'">
                        <dx-text-box #valorDiaria
                                     (onChange)="formataValor($event)">
                        </dx-text-box>
                    </div>
                    <div *dxTemplate="let data of 'tipoQuartoTemplate'">
                        <dx-select-box [(value)]="quarto.tipoQuarto"
                                       [dataSource]="tipos"
                                       displayExpr="nome">
                        </dx-select-box>
                    </div>
                    <div *dxTemplate="let data of 'categoriaQuartoTemplate'">
                        <dx-select-box [(value)]="quarto.categoriaQuarto"
                                       [dataSource]="categorias"
                                       displayExpr="nome">
                        </dx-select-box>
                    </div>

                </dx-form>
            </dxi-item>

            <dxi-item title='Itens'>

                <dx-form>
                    <dxi-item [colCount]="4"
                              itemType="group">

                        <dxi-item [colSpan]="3"
                                  caption="Item"
                                  dataField="item"
                                  template="itemTemplate">
                        </dxi-item>
                        <dxi-item template="buttonsTemplate">
                        </dxi-item>

                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxi-item template="listTemplate"></dxi-item>
                    </dxi-item>

                    <!--    TEMPLATES      -->
                    <div *dxTemplate="let data of 'itemTemplate'">
                        <dx-text-box #itemTxBox
                                     (onEnterKey)="adicionaItemLista()">
                        </dx-text-box>
                    </div>

                    <div *dxTemplate="let data of 'buttonsTemplate'">
                        <div class="row" style="align-items: flex-end; height: 82.63px">
                            <dx-button (onClick)="adicionaItemLista()"
                                       icon="fa fa-arrow-down"
                                       text="Adicionar">
                            </dx-button>
                        </div>
                    </div>

                    <div *dxTemplate="let data of 'listTemplate'">
                        <dx-list #listaItens
                                 [allowItemDeleting]="true"
                                 [dataSource]="quarto.itens">
                        </dx-list>
                    </div>

                </dx-form>

            </dxi-item>

            <dxi-item title='Imagens'>

                <dx-form #formDaImagem>

                    <dxi-item dataField="Imagens"
                              template="fileUploadTemplate">
                    </dxi-item>

                    <!--    TEMPLATES      -->
                    <div *dxTemplate="let data of 'fileUploadTemplate'"
                         style="display: flex; justify-content: space-between;">
                        <dx-file-uploader #fileUploader
                                          (onValueChanged)="carregarArquivo($event)"
                                          [(value)]="imgData"
                                          [accept]="'image/*'"
                                          [multiple]="true"
                                          [selectButtonText]="'Selecione a imagem'"
                                          [uploadMode]="'useForm'"
                                          width="500px">
                        </dx-file-uploader>
                        <dx-button text="Baixar Todas"
                                   icon="fa fa-download"
                                   (onClick)="baixarTodas()">
                        </dx-button>
                        <dx-button text="Limpar"
                                   icon="fa fa-trash"
                                   (onClick)="limparImagensRenderizadas()">
                        </dx-button>
                    </div>

                </dx-form>

                <div style="display: flex; align-content: center; justify-content: center">
                    <dx-load-indicator
                        [(visible)]="isLoadImagemVisible"
                        [height]="40"
                        [width]="40">
                    </dx-load-indicator>
                </div>

                <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
                    <div *ngFor="let imagem of quartoImagens; let i = index">
                        <div class="containerDaImagem" (click)="abrirImagemPopUp(i)">
                            <dx-button (onClick)="removerImagem(i)" class="iconeRemover" icon="fa fa-trash"></dx-button>
                            <img [src]="imagem?.imagem" alt="Imagem {{ i }}" class="imagem">
                        </div>
                        <ul>
                            <li><strong>Nome:</strong> {{imagem?.nome}}</li>
                            <li><strong>Tamanho:</strong> {{Utils.formatFileSize(imagem?.tamanho)}}</li>
                            <li><strong>Tipo:</strong> {{imagem?.formato}}</li>
                            <dx-button (onClick)="downloadImagem(imagem)"
                                       icon="download"
                                       text="Download"
                                       style="font-size: 8px"
                                       type="default"
                                       height="22px"
                                       width="100%">
                            </dx-button>
                        </ul>
                    </div>
                </div>

                <dx-popup [(visible)]="popUpVisible"
                          [showTitle]="true"
                          [title]="'Imagem do Quarto'"
                          [dragEnabled]="false"
                          [hideOnOutsideClick]="true"
                          [showCloseButton]="true">
                    <img [src]="imagemDoPopUp" style="max-width: 100%; max-height: 100%; display: block; margin: auto;">
                </dx-popup>

            </dxi-item>

        </dx-tab-panel>
    </div>

</base-crud>
