<dx-form #enderecoForm
         [formData]='endereco'>

    <dxi-item [colCount]="2" itemType="group">
        <dxi-item [label]="{text: 'CEP'}"
                  dataField='cep'
                  template='cepTemplate'>
        </dxi-item>
    </dxi-item>

    <dxi-item [colCount]='4' itemType='group'>
        <dxi-item [isRequired]='true'
                  [label]="{text: 'Logradouro'}"
                  dataField='rua'
                  template='ruaTemplate'>
        </dxi-item>

        <dxi-item [isRequired]='true'
                  dataField='bairro'
                  template='bairroTemplate'>
        </dxi-item>

        <dxi-item [isRequired]='true'
                  [label]="{text: 'Número'}"
                  dataField='numero'
                  template='numeroTemplate'>
        </dxi-item>

        <dxi-item dataField='complemento'
                  template='complementoTemplate'>
        </dxi-item>
    </dxi-item>

    <dxi-item [colCount]='3' itemType='group'>

        <dxi-item [isRequired]='true'
                  dataField='cidade'
                  template='cidadeTemplate'>
        </dxi-item>
        <dxi-item [isRequired]='true'
                  dataField='estado'
                  template='estadoTemplate'>
        </dxi-item>
        <dxi-item [isRequired]='true'
                  [label]="{text: 'País'}"
                  dataField='pais'
                  template='paisTemplate'>
        </dxi-item>
    </dxi-item>

    <!--  TEMPLATES -->
    <div *dxTemplate="let data of 'cepTemplate'">
        <dx-text-box (onChange)='buscaCep($event)'
                     [(value)]='endereco.cep'
                     [mask]="'00.000-000'"
                     [width]="250">
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'bairroTemplate'">
        <dx-text-box [(value)]='endereco.bairro'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'ruaTemplate'">
        <dx-text-box [(value)]='endereco.rua'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'cidadeTemplate'">
        <dx-text-box [(value)]='endereco.cidade'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'estadoTemplate'">
        <dx-text-box [(value)]='endereco.estado'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'paisTemplate'">
        <dx-text-box [(value)]='endereco.pais'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'complementoTemplate'">
        <dx-text-box [(value)]='endereco.complemento'>
        </dx-text-box>
    </div>
    <div *dxTemplate="let data of 'numeroTemplate'">
        <dx-text-box #numero
                     (onEnterKey)="addAddress()"
                     [(value)]='endereco.numero'>
        </dx-text-box>
    </div>
</dx-form>

<dx-data-grid #grid
              (onSelectionChanged)="selectAddress($event)"
              (onToolbarPreparing)="onToolbarPreparing($event)"
              [dataSource]="gridData"
              [rowAlternationEnabled]="true"
              [showBorders]="true">

    <dxo-selection mode="single"></dxo-selection>

    <dxi-column caption="CEP" dataField="cep"></dxi-column>
    <dxi-column dataField="bairro"></dxi-column>
    <dxi-column dataField="rua"></dxi-column>
    <dxi-column caption="Número" dataField="numero"></dxi-column>
    <dxi-column dataField="complemento"></dxi-column>
    <dxi-column dataField="cidade"></dxi-column>
    <dxi-column dataField="estado"></dxi-column>
    <dxi-column dataField="pais"></dxi-column>

</dx-data-grid>
